/** @format */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Lobster&family=Rubik+Bubbles&family=Rubik+Gemstones&family=Rubik+Iso&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
}
.navbar-nav li a {
  font-size: 18px;
}

.Hero--section > h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: "Alfa Slab One", cursive;
}
.Hero--part {
  background-color: #0d6efd !important;
}
.Footer--Container {
  background-color: rgb(39, 34, 34);
}
.Footer-part > input {
  height: 35px;
  width: 250px;
  border: none;
  outline: none;
  padding: 0px 5px;
  border-radius: 20px;
}
.Service--part {
  width: 15rem;
  height: 8rem;
  border: 2px solid grey;
  border-radius: 20%;
  cursor: pointer;
  transition: width 0.5s, height 0.5s;
}
.Service--part:hover {
  width: 16.5rem;
  height: 9rem;
}
.Service--part h5 {
  text-align: center;
}
.Service--part2 {
  width: 15rem;
  height: 8rem;
  border: 2px solid grey;
  border-radius: 20%;
  transition: width 0.5s, height 0.5s;
  margin: auto;
}
.Service--part2:hover {
  width: 16.5rem;
}
.Service--part2 h5 {
  text-align: center;
}
