/** @format */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Lobster&family=Rubik+Bubbles&family=Rubik+Gemstones&family=Rubik+Iso&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
}
.navbar-nav li a {
  font-size: 18px;
}

.Hero--section > h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: "Alfa Slab One", cursive;
}
.Hero--part {
  background-color: #0d6efd !important;
}
.BOX--COLORED {
  width: 200px;
  height: 200px;
}
.Footer--Container {
  background-color: rgb(39, 34, 34);
}
.Footer-part > input {
  height: 35px;
  width: 250px;
  border: none;
  outline: none;
  padding: 0px 5px;
  border-radius: 20px;
}
.Services--part {
  border-radius: 10px;
  height: 250px;
  background-color: #eeee;
}
.Services--part:hover {
  background-color: #f8f9fa !important;
}
.Services--Mid {
  border-radius: 10px;
  height: 120px;
  margin: 4px 0px;
  background-color: #eeee;
}
.Services--Mid:hover {
  background-color: #f8f9fa !important;
}
